<div class="add-responsive"><a  routerLink="/account/save-project" target="_blank" class="btn2">{{content.add}}</a></div>

<div class="table-container">
  <table id="keywords" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>{{content.title}}</th>
    <th>Description</th>
    <th>Date</th>
    <th>Type</th>
    <th colspan="2"><a  routerLink="/account/save-project" target="_blank" class="btn2">{{content.add}} {{content.project}}s</a></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of projectList">
    <td class="ps">{{p.title}}</td>
    <td class="ps">{{p.description}}</td>
    <td class="ps">type</td>
    <td class="ps">{{p.date | date: 'dd-MM-yyyy'}}</td>
    <td class="ps"><a routerLink="/account/save-project/{{p.id}}" target="_blank" class="btn2">{{content.update}}</a></td>
    <td class="ps"><a (click)="delete(p)" class="btn2">{{content.delete}}</a></td>
  </tr>
  </tbody>
</table>
</div>
