
<div class="main" id="blur">
  <div class="Research">

      <form>
        <table class="tab" >
        <thead>
        <tr>
          <th><label> Research by title</label></th>
          <th><label> news older than</label></th>
          <th><label>Events more recent than</label></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="text" name=""></td>
          <td><input type="date" name=""></td>
          <td><input type="date" name=""></td>
          <td><input type="reset" name=""></td>
        </tr>
        </tbody>
        </table>
      </form>


  </div>

  <table align="center" id="pub">
    <tr>
      <td>
        <div class="news">
          <a routerLink="#" (click)="toggle()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p class="date"> le 24/02/2023 DE 09:15 à 16:00 .Lieu : salle 501-337 -Bat.501 </p>
          <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a routerLink="#">Read more</a><br><br>
          <hr color="#0D89BF"><br><br>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="news">
          <a routerLink="#" (click)="toggle()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p class="date"> le 24/02/2023 DE 09:15 à 16:00 .Lieu : salle 501-337 -Bat.501 </p>
          <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a routerLink="#">Read more</a><br><br>
          <hr color="#0D89BF"><br><br>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="news">
          <a routerLink="#" (click)="toggle()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p class="date"> le 24/02/2023 DE 09:15 à 16:00 .Lieu : salle 501-337 -Bat.501 </p>
          <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a routerLink="#">Read more</a><br><br>
          <hr color="#0D89BF"><br><br>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="news">
          <a routerLink="#" (click)="toggle()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p class="date"> le 24/02/2023 DE 09:15 à 16:00 .Lieu : salle 501-337 -Bat.501 </p>
          <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a routerLink="#">Read more</a><br><br>
          <hr color="#0D89BF"><br><br>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="news">
          <a routerLink="#" (click)="toggle()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p class="date"> le 24/02/2023 DE 09:15 à 16:00 .Lieu : salle 501-337 -Bat.501 </p>
          <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a routerLink="#">Read more</a><br><br>
          <hr color="#0D89BF"><br><br>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="news">
          <a routerLink="#" (click)="toggle()"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
          <p class="date"> le 24/02/2023 DE 09:15 à 16:00 .Lieu : salle 501-337 -Bat.501 </p>
          <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a routerLink="#">Read more</a><br><br>
          <hr color="#0D89BF"><br><br>

        </div>
      </td>
    </tr>
  </table>
</div>
<div id="popup">

  <h1 id="close" align="right" (click)="toggle()">&#10006;</h1>

  <div class="content" align="center"><h1>name of article</h1></div>

  <div class="l-inner article">
    <table class="table">
      <tr>
        <th>Auteurs</th>
        <td>Anouer Bennajeh, Hela Hachicha</td>
      </tr>
      <tr>
        <th>Date de publication Conférence</th>
        <td>2015<br></td>
      </tr>
      <tr>
        <th>Pages</th>
        <td>295-305</td>
      </tr>
      <tr>
        <th>Éditeur</th>
        <td>International Publishing</td>
      </tr>
      <tr>
        <th>Description </th>
        <td>The progression to use web technology has contributed the emergence of a certain number of new approaches. The web services composition is one of the most important approaches ensuring to exploit several services by a single service, called a composite service, in order to reducing time and costs, and increase overall efficiency in businesses. The work presented here is to propose a web services composition model in order to reduce the network problems during the composition and reduce the total duration of composition. In fact, this model is based on software agent technology by exploiting its characteristics, hence eliminate the passivity of web technology and make it more responsive. More than the composition of web services, this model ensures the execution of various activities to a composite service, by the integration of a control strategy which offers solutions at real-time in case to execution …</td>
      </tr>
      <tr>
        <th>Articles Google Scholar</th>
        <td><a routerLink="#" style="color: black">A Bennajeh, H Hachicha - … Engineering in Intelligent Systems: Proceedings of the …, 2015</a></td>
      </tr>
    </table>
  </div>
</div>
