<div class="main" id="blur">
  <div class="Research">
      <form>
        <table class="tab" >
        <thead>
        <tr>
          <th><label> {{content.searchByTitle}}</label></th>
          <th><label>{{content.moreRecentThan}}</label></th>
          <th><label> {{content.olderThan}}</label></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="text" #search (input)="onSearchTextEntered(search.value)"></td>
          <td><input type="date" [(ngModel)]="recentValue" name="recent" (input)="interval()"></td>
          <td><input type="date" [(ngModel)]="olderValue" name="older" (input)="interval()"></td>
        </tr>
        </tbody>
        </table>
      </form>
  </div>
  <table align="center" id="pub">
    <ng-container *ngFor="let a of filteredList; let i = index;">
      <tr *ngIf="i==0 || filteredList[i].date!.getFullYear!=filteredList[i-1].date!.getFullYear">
        {{a.date!.getFullYear}}
      </tr>
    <tr>
        <div class="news" (click)="toggle(a)">
          <h4>{{a.title}}</h4>
          <p class="date">{{a.date | date: 'dd-MM-yyyy'}}</p>
          <p>{{a.type}}</p>
          <p class="desc">{{a.description | slice:0:100}} . . .</p>
          <br>
          <hr color="#0D89BF"><br>
        </div>
    </tr>
    </ng-container>
  </table>
  <!--<ul id="pub">
    <ng-container *ngFor="let a of filteredList; let i = index;">
    <li *ngIf="i === 0 || a.date!.getFullYear() !== filteredList[i-1].date!.getFullYear()">{{ a.date!.getFullYear() }}</li>
    <li>
        <div class="news" (click)="toggle(a)">
          <h4>{{a.title}}</h4>
          <p class="date">{{a.date | date: 'dd-MM-yyyy'}}</p>
          <p>{{a.type}}</p>
          <p class="desc">{{a.description | slice:0:100}} . . .</p>
          <br>
          <hr color="#0D89BF"><br>
        </div>
    </li>
    </ng-container>
  </ul>-->
</div>
<div id="popup">
  <h1 id="close" align="right" (click)="toggle(article)">&#10006;</h1>
  <div class="content" align="center"><h1>{{article.title}}</h1></div>
  <div class="l-inner article">
    <table class="table">
      <tr>
        <th>{{content.authors}}</th>
        <td *ngFor="let a of article.authors">{{a.firstName}} {{a.lastName}}</td>
      </tr>
      <tr>
        <th>{{content.datePub}}</th>
        <td>{{article.date | date: 'dd-MM-yyyy'}}<br></td>
      </tr>
      <tr>
        <th>Pages</th>
        <td>{{article.firstPage}}-{{article.lastPage}}</td>
      </tr>
      <tr>
        <th>Abstract </th>
        <td>{{article.description}}</td>
      </tr>
      <tr>
        <th>DOI</th>
        <td><a href="{{article.url}}" target="_blank" style="color: black">{{article.title}}</a></td>
      </tr>
      <tr>
        <th>File</th>
        <td><a href="{{file}}" download="{{article.title}}" style="color: black">{{article.title}}</a></td>
      </tr>
    </table>
  </div>
</div>
