<div class="container">

  <h1 class="heading">our research axis</h1>

  <div class="box-container">

    <div class="box">
      <img src="photo/search.png" alt="">
      <h3>Machine learning</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
    </div>

    <div class="box">
      <img src="photo/search.png" alt="">
      <h3>Security</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
    </div>

    <div class="box">
      <img src="photo/search.png" alt="">
      <h3>Web</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
    </div>

    <div class="box">
      <img src="photo/search.png" alt="">
      <h3>Big data</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
    </div>

    <div class="box">
      <img src="photo/search.png" alt="">
      <h3>Data Mining</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
    </div>

    <div class="box">
      <img src="photo/search.png" alt="">
      <h3>static</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
    </div>

  </div>

</div>
