<div id="container">
  <div id="container1">
    <div id="content">
      <h1>Tiltle</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid consectetur eos eum ex explicabo hic illum laboriosam, odio perferendis ratione, reiciendis rerum tenetur? Ad eius enim impedit, iusto nobis reprehenderit soluta unde! A adipisci aliquid asperiores consequatur debitis dignissimos doloremque ducimus eum fugiat illum impedit itaque laboriosam magnam magni nihil obcaecati odit pariatur quas qui quibusdam quis quisquam similique sint unde, voluptate! Delectus dolor dolore, eaque fugiat itaque laborum, necessitatibus nemo non, rem ut veniam vero voluptate voluptatem! Accusantium ad, aliquam atque, blanditiis consectetur earum eligendi esse inventore ipsum itaque laudantium libero minus nemo nesciunt quam quasi reiciendis sapiente.</p>
    </div>
    <img src="assets/photo/article.jpg">
  </div>
</div>

