<link rel="stylesheet" routerLink="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" routerLink="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="wrapp">
  <h1>RH Team</h1>
  <div class="our_team">
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="twitter item"><i class="fab fa-twitter"></i></div>
          <div class="instagram item"><i class="fab fa-instagram"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>CEO</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>Accountant</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>product analyst</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
  </div>
</div>
<div class="wrapp">
  <h1>Developpement Team</h1>
  <div class="our_team">
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>CEO</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>Accountant</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/1f/9b/91/1f9b91ea28dac29d400409e434c0274a.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3 id="tit">harry dickens</h3></a>
      <span>product analyst</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
  </div>
</div>
