<div id="container">
  <div id="feedback">
    <form>
      <h1>Contact us</h1>
      <div class="separation"></div>
      <div class="corps-formulaire">
        <div class="gauche">
          <div class="groupe">
            <label>Your first name</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-user"></i>
          </div>
          <div class="groupe">
            <label>Your e-mail</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-envelope"></i>
          </div>
          <div class="groupe">
            <label>Your phone number</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-mobile"></i>
          </div>
        </div>

        <div class="droite">
          <div class="groupe">
            <label>Message</label>
            <textarea placeholder="Tape here..."></textarea>
          </div>
        </div>
      </div>

      <div class="pied-formulaire" align="center">
        <button>Send the message</button>
      </div>
    </form>
  </div>
  <div id="info">
    <div>
      <img src="photo/phone.png">
      <h4>Phone</h4>
      <p>11111111</p>
    </div>
    <div>
      <img src="photo/email.png">
      <h4>E-Mail</h4>
      <p>smart@lab.com</p>
    </div>
  </div>
</div>
<div class="map" style="width:100%; height:400px; margin-bottom: 70px;">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.692507577609!2d10.148273915183215!3d36.80469737994364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f45697d9f9ce59%3A0x9d2e198cb2aef45f!2sISG%20Tunis!5e0!3m2!1sen!2stn!4v1621351782203!5m2!1sen!2stn"
    width="100%"
    height="100%"
    frameborder="0"
    style="border:0"
    allowfullscreen
    aria-hidden="false"
    tabindex="0">
  </iframe>

</div>



