<div id="container">
  <div id="feedback">
    <form #contactF="ngForm" (ngSubmit)="add(contactF)">
      <h1>Contact us</h1>
      <div class="separation"></div>
      <div class="corps-formulaire">
        <div class="gauche">
          <div class="groupe">
            <label>Your first name</label>
            <input type="text" autocomplete="off" ngModel name="name" required/>
            <i class="fas fa-user"></i>
          </div>
          <div class="groupe">
            <label>Your e-mail</label>
            <input type="text" autocomplete="off" ngModel name="email" required/>
            <i class="fas fa-envelope"></i>
          </div>
          <div class="groupe">
            <label>Your phone number</label>
            <input type="text" autocomplete="off" ngModel name="phone" required/>
            <i class="fas fa-mobile"></i>
          </div>
        </div>

        <div class="droite">
          <div class="groupe">
            <label>Message</label>
            <textarea placeholder="Tape here..." ngModel name="message" required> </textarea>
          </div>
        </div>
      </div>

      <div class="pied-formulaire" align="center">
        <input type="submit" value="send message" class="button">
      </div>
    </form>
  </div>
  <div id="info">
    <div>
      <img src="assets/photo/phone.png">
      <h4>Phone</h4>
      <p>11111111</p>
    </div>
    <div>
      <img src="assets/photo/email.png">
      <h4>E-Mail</h4>
      <p>smart@lab.com</p>
    </div>
    <div>
      <img src="assets/photo/location.png">
      <h4>Location</h4>
      <p>ISG</p>
    </div>
  </div>
</div>
