<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="container">
  <div class="top">
    <a (click)="changeLang('french')" id="fr"><img src="assets/photo/france.png" class="img1"></a>
    <a (click)="changeLang('english')"><img src="assets/photo/uk.png" class="img2"></a>
    <a routerLink="/login" class="login">{{content.login}}</a>
    <a routerLink="/signup" class="register">{{content.register}}</a>
  </div>
  <h1 id="H1"><span>S</span>trategies for <span>M</span>odeling and <span>AR</span>tificial in<span>T</span>elligence</h1>
  <h4 id="H4">{{content.laboratory}}</h4>
</div>

<div class="wrapper">


  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a routerLink="/home"><img src="assets/photo/logo.png"></a></div>
      <ul class="links">
        <li><a routerLink="/home">{{content.home}}</a><hr color="#FF9FB2"></li>
        <li><a routerLink="/list-news">{{content.news}}</a><hr color="##73877B"></li>
        <li><a routerLink="/list-event">{{content.events}}</a><hr color="#0ACDFF"></li>
        <li>
          <a class="nav-link">{{content.research}}</a>
          <input type="checkbox" id="show-Research">
          <label for="show-Research">{{content.research}}</label>
          <hr color="#60AB9A">
          <ul>
            <li><a routerLink="/research-axis">{{content.researchAxis}}</a></li>
            <li><a routerLink="/teams">Teams</a></li>
            <li><a routerLink="/list-article">Publications</a></li>
            <li><a routerLink="/list-project">Projects</a>
                  <ul>
                      <li><a routerLink="#">National</a></li>
                      <li><a routerLink="#">international</a></li>
                  </ul>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-link">Collaboration</a>
          <input type="checkbox" id="show-Collaboration">
          <label for="show-Collaboration">COLLABORATION</label>
          <hr color="#9A275A">
          <ul>
            <li><a routerLink="international.html">International</a></li>
            <li><a routerLink="national.html">National</a></li>
            <li><a routerLink="/partners">{{content.partners}}</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link">{{content.members}}</a>
          <input type="checkbox" id="show-Members">
          <label for="show-Members">{{content.members}}</label>
          <hr color="#D68C45">
          <ul>
            <li><a routerLink="/teacher-researcher">{{content.teacherResearcher}}</a></li>
            <li><a routerLink="/doctors">{{content.doctors}}</a></li>
            <li><a routerLink="/phd-students">{{content.phd}}</a></li>
            <li><a routerLink="#">Master Students</a></li>
            <li><a routerLink="/members">{{content.all}}</a></li>
          </ul>

        </li>
        <li><a routerLink="/contact">{{content.contact}}</a><hr color="#63474D"></li>
      </ul>
    </div>

  </nav>
</div>


<div>
  <router-outlet></router-outlet>
</div>
