<div class="container1">
  <a class="item-container" *ngFor="let e of eventList; let i = index" routerLink="/view-event/{{e.id}}" target="_blank">
    <div class="img-container">
      <img [src]="url[i]" alt="Event image">
    </div>
    <div class="body-container">
      <div class="overlay"></div>

      <div class="event-info">
        <a><p class="title">{{e.title}}</p></a>
        <div class="separator"></div>
        <p class="info">{{e.location}}</p>
        <p class="price">  </p>

        <div class="additional-info">
          <p class="info">
            <i class="fas fa-map-marker-alt"></i>
            {{e.organiser}}
          </p>
          <p class="info">
            <i class="far fa-calendar-alt"></i>
            {{e.date}}
          </p>
          <p class="info description">{{e.description | slice:0:10}}<span>more...</span></p>
        </div>
      </div>
    </div>
  </a>
</div>
