<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="container">
  <header>Article</header>
  <form class="form" #addF='ngForm' (ngSubmit)="save(addF)" ngNativeValidate>
    <label class="ps"> champ obligatoire * </label>
    <div class="input-box">
      <label>Title <span>*</span></label>
      <input type="text" placeholder=" Article Title" [(ngModel)]="article.title" name="title" required />
    </div>

    <div class="input-box">
      <label>Author <span>*</span></label>
      <input *ngFor="let a of article.authors; let i = index" type="text" placeholder=" Full name" required [(ngModel)]="fullName[i]" name="authors_{{i}}" (input)="searchAuthor(i)"/>
      <div class="dropdown">
      <ul>
        <li *ngFor="let person of filteredList" (click)="selectPerson(person)">
          <img [src]="person.photo" alt="Person Photo" style="height: 40px; width: 40px">
          <span>{{person.firstName}} {{person.lastName}}</span>
        </li>
      </ul>
      </div>
      <div id="survey_options">
      </div>
      <div class="controls">
        <a routerLink="#" id="add_more_fields" (click)="addAuthor()"><i class="fa fa-plus"></i>Add More</a>
        <a routerLink="#" id="remove_fields" (click)="removeAuthor()"><i class="fa fa-minus"></i>Remove Field</a>
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <label>Page <span>*</span></label>
        <input type="number" placeholder=" Start page" required [(ngModel)]="article.firstPage" name="firstPage"/>
      </div>
      <div class="input-box">
        <label>Page <span>*</span></label>
        <input type="number" min="{{addF.value.firstPage}}" placeholder=" Last page" required [(ngModel)]="article.lastPage" name="lastPage"/>
      </div>
    </div>

    <div class="input-box">
      <label>File</label>
      <input type="file"  #fileUpload (change)="onFileSelected(fileUpload.files)" >
    </div>

    <div class="input-box">
      <label>URL of article <span>*</span></label>
      <input type="text" placeholder=" Url of article" [(ngModel)]="article.url" name="url"  />
    </div>

    <label>Type <span>*</span></label>
    <div class="select-box">
      <select name="type" [(ngModel)]="article.type" required>
        <option>Journal</option>
        <option>Conference</option>
        <option>Book</option>
        <option>Thesis</option>
      </select>
    </div>

    <div class="input-box" *ngIf="addF.value.type=='Book'">
      <label>Editor <span>*</span></label>
      <input type="text" placeholder=" Editor" [(ngModel)]="article.editor" name="editor" required />
    </div>

    <div class="input-box" *ngIf="addF.value.type=='Thesis'">
      <label>Institute <span>*</span></label>
      <input type="text" placeholder=" Name of conference" [(ngModel)]="article.institute" name="institute" required />
    </div>

    <div class="input-box" *ngIf="addF.value.type=='Conference'">
      <label>Month <span>*</span></label>
      <input type="number" min="1" max="12" placeholder=" Month" [(ngModel)]="article.month" name="month" required />
    </div>

    <div class="input-box">
      <label>Year <span>*</span></label>
      <input type="number" placeholder=" Year" [(ngModel)]="article.year" name="year" required />
    </div>

    <div class="input-box">
      <label>Abstract <span>*</span></label>
      <textarea name="description" rows="10" cols="70" [(ngModel)]="article.description"></textarea>
    </div>

    <button type="submit">Submit</button>
  </form>
</section>


