<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="container">
  <header>Article</header>
  <form class="form" #addF='ngForm' (ngSubmit)="save(addF)" ngNativeValidate>

    <div class="input-box">
      <label>Title</label>
      <input type="text" placeholder=" Article Title" [(ngModel)]="article.title" name="title" required />
    </div>

    <div class="input-box">
      <label>Author</label>
      <input *ngFor="let a of article.authors; let i = index" type="text" placeholder=" Full name" required [(ngModel)]="fullName[i]" name="authors_{{i}}" (input)="searchAuthor(i)"/>
      <div class="dropdown">
      <ul>
        <li *ngFor="let person of filteredList" (click)="selectPerson(person)">
          {{ person.firstName }} {{ person.lastName }}
        </li>
      </ul>
      </div>
      <div id="survey_options">
      </div>
      <div class="controls">
        <a routerLink="#" id="add_more_fields" (click)="addAuthor()"><i class="fa fa-plus"></i>Add More</a>
        <a routerLink="#" id="remove_fields" (click)="removeAuthor()"><i class="fa fa-plus"></i>Remove Field</a>
      </div>
    </div>

    <div class="input-box">
      <label>Conférence / journal</label>
      <input type="text" placeholder=" Name of conference" [(ngModel)]="article.journal" name="journal" required />
    </div>

    <div class="column">
      <div class="input-box">
        <label>Page </label>
        <input type="number" placeholder=" Start page" required [(ngModel)]="article.firstPage" name="firstPage"/>
      </div>
      <div class="input-box">
        <label>page </label>
        <input type="number" placeholder=" Last page" required [(ngModel)]="article.lastPage" name="lastPage"/>
      </div>
    </div>

    <div class="input-box">
      <label>File</label>
      <input type="file"  #fileUpload (change)="onFileSelected(fileUpload.files)" >
    </div>

    <div class="input-box">
      <label>URL of article</label>
      <input type="text" placeholder=" Url of article" [(ngModel)]="article.url" name="url"  />
    </div>

    <label>Type</label>
    <div class="select-box">
      <select name="type" [(ngModel)]="article.type" required>
        <option>TYPE</option>
        <option>TYPE1</option>
        <option>TYPE2</option>
        <option>TYPE3</option>
        <option>TYPE4</option>
      </select>
    </div>

    <div class="input-box">
      <label>Abstract</label>
      <textarea name="description" rows="10" cols="70" [(ngModel)]="article.description"></textarea>
    </div>

    <button type="submit">Submit</button>
  </form>
</section>


