<div id="container0">
  <div id="container">
    <div id="title"><h1 style="text-align: center">{{event.title}}</h1></div>
    <div id="info" >
      <div id="date">
        <h3>Date & Time: </h3>
        <p>{{event.date | date: 'dd-MM-yyyy'}}<br>10:00 AM</p>
      </div>
      <div id="location">
        <h3>{{content.location}}: </h3>
        <p>{{event.location}}</p>
      </div>
      <div id="coming">
        <h3>{{content.organiser}}: </h3>
        <p>{{event.organiser}}</p>
      </div>
    </div>
    <div id="#content">
      <img [src]="event.photo" style="max-height: 250px; border-radius: 25px; padding: 10px">
      <div id="description">{{event.description}}</div>
    </div>
  </div>
</div>

