<div class="bigrow">
  <div class="row">
    <div class="left">
      <img src="assets/photo/isg.png" alt="">
    </div>
    <div class="right">
      <div class="content2">
        <h2 align="center">ISG Tunis </h2> <br>
        <p id="first"> <i>iLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? Labore fugiat maxime tempora possimus quibusdam quae velit rerum in doloribus ut inventore hic alias necessitatibus beatae fuga, aliquam culpa deleniti laboriosam reprehenderit enim dolor quod ipsa? Accusantium, libero culpa.</i></p>
        <p id="second">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus perferendis iste inventore laborum dolor alias, voluptate dignissimos nihil, aliquam totam accusantium eum illo dolorem hic explicabo sequi quis recusandae.</p> <br>
        <a href="https://isg.rnu.tn" class="btn1"> learn more > </a>

      </div>
    </div>
  </div>
</div>

<div class="bigrow">
  <div class="row">
    <div class="left">
      <img src="assets/photo/mesrs.png" alt="">
    </div>
    <div class="right">
      <div class="content2">
        <h2 align="center">MESRS Tunisie </h2> <br>
        <p id="first"> <i>iLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? Labore fugiat maxime tempora possimus quibusdam quae velit rerum in doloribus ut inventore hic alias necessitatibus beatae fuga, aliquam culpa deleniti laboriosam reprehenderit enim dolor quod ipsa? Accusantium, libero culpa.</i></p>
        <p id="second">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus perferendis iste inventore laborum dolor alias, voluptate dignissimos nihil, aliquam totam accusantium eum illo dolorem hic explicabo sequi quis recusandae.</p> <br>
        <a href="http://www.mes.tn/?langue=fr" class="btn1"> learn more > </a>

      </div>
    </div>
  </div>
</div>

<div class="bigrow">
  <div class="row">
    <div class="left">
      <img src="assets/photo/UT.png" alt="">
    </div>
    <div class="right">
      <div class="content2">
        <h2 align="center">Univérsité de Tunis </h2> <br>
        <p id="first"> <i>iLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? Labore fugiat maxime tempora possimus quibusdam quae velit rerum in doloribus ut inventore hic alias necessitatibus beatae fuga, aliquam culpa deleniti laboriosam reprehenderit enim dolor quod ipsa? Accusantium, libero culpa.</i></p>
        <p id="second">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus perferendis iste inventore laborum dolor alias, voluptate dignissimos nihil, aliquam totam accusantium eum illo dolorem hic explicabo sequi quis recusandae.</p> <br>
        <a href="http://www.utunis.rnu.tn" class="btn1"> learn more > </a>

      </div>
    </div>
  </div>
</div>

<div class="bigrow">
  <div class="row">
    <div class="left">
      <img src="assets/photo/commission_european.png" alt="">
    </div>
    <div class="right">
      <div class="content2">
        <h2 align="center">commission european </h2> <br>
        <p id="first"> <i>iLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? Labore fugiat maxime tempora possimus quibusdam quae velit rerum in doloribus ut inventore hic alias necessitatibus beatae fuga, aliquam culpa deleniti laboriosam reprehenderit enim dolor quod ipsa? Accusantium, libero culpa.</i></p>
        <p id="second">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus perferendis iste inventore laborum dolor alias, voluptate dignissimos nihil, aliquam totam accusantium eum illo dolorem hic explicabo sequi quis recusandae.</p> <br>
        <a href="https://commission.europa.eu/index_en" class="btn1"> learn more > </a>

      </div>
    </div>
  </div>
</div>
