<section>
  <div class="wrapper">
    <div class="container">
      <h1>{{content.update}}</h1>
      <form #updateF='ngForm' (ngSubmit)="update(updateF)">
        <label> {{content.firstName}} </label>
        <input type="text" name="firstName" placeholder="  your first name ..." [(ngModel)]="person.firstName">
        <label> {{content.lastName}} </label>
        <input type="text" name="lastName" placeholder="  your last name ..." [(ngModel)]="person.lastName">
        <label> Email </label>
        <input type="email" name="email" placeholder="  add your e-mail ..." [(ngModel)]="person.email">
        <input type="submit" name="" value="{{content.update}}" class="SBM">
      </form>
    </div>
    <div class="container2">
      <img [src]="url" alt="image" *ngIf="showContent">
      <div class="input_container">
        <input type="file" accept="image/*" #fileUpload (change)="onFileSelected(fileUpload.files)" >
      </div>
      <button id="open-popup" (click)="toggle()">{{content.update}} {{content.password}}</button>
    </div>
  </div>
</section>



<div id="popup">
  <div class="cont">
    <form #updateP='ngForm' (ngSubmit)="updatePass(updateP)">
      <label> {{content.old}} {{content.password}} </label>
      <input type="password" name="oldP" placeholder="  your old password ..." ngModel required>
      <label> {{content.password}} </label>
      <input type="password" name="newP" placeholder="  your new password ..." ngModel required>
      <label> {{content.confirmP}} </label>
      <input type="password" name="confirmP" placeholder="  Confirm your new password ..." ngModel required>
      <input type="submit" name="" value="Update your password" class="SBM">
    </form>
  </div>
  <button  id="close-popup" (click)="toggle()">Close</button>
</div>


<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>{{content.title}}</th>
      <th>Type</th>
      <th>Date</th>
      <th align="center"><a routerLink="/account/save-article" target="_blank" class="add">ADD ARTICLE</a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of articles">
      <td><h4>{{a.title}}</h4></td>
      <td><p>{{a.type}}</p></td>
      <td>{{a.year}}</td>
      <td><a routerLink="/account/save-article/{{a.id}}" target="_blank" class="btn2">{{content.update}}</a></td>
      <td><a (click)="delete(a)" class="btn2">{{content.delete}}</a></td>
    </tr>
    </tbody>
  </table>
</div>
