<section>
  <div class="wrapper">
    <div class="container">
      <button id="open-popup1" (click)="toggle1()">Update account</button>
      <div class="input_container">
        <input type="file" name="" value="Update" #fileUpload accept="image/*" (change)="onFileSelected(fileUpload.files)">
      </div>

      <button id="open-popup" (click)="toggle()">Update password</button>
    </div>
    <div class="container2">
      <img [src]="url" alt="image" *ngIf="showContent">
    </div>
  </div>
</section>


<div>
<div id="popup" >
  <div class="cont">
    <form #updateP='ngForm' (ngSubmit)="updatePass(updateP)">
      <label> {{content.old}} {{content.password}} </label>
      <input type="password" name="oldP" placeholder="  your old password ..." ngModel required>
      <label> {{content.password}} </label>
      <input type="password" name="newP" placeholder="  your new password ..." ngModel required>
      <label> {{content.confirmP}} </label>
      <input type="password" name="confirmP" placeholder="  Confirm your new password ..." ngModel required>
      <input type="submit" name="" value="Update your password" class="SBM">
    </form>
  </div>
  <button  id="close-popup" (click)="toggle()">Close</button>
</div>
<div id="popup1" >
  <div class="cont unput-box" >
    <form #updateF='ngForm' (ngSubmit)="update()">
        <label> {{content.firstName}} </label>
        <input type="text" name="firstName" placeholder="  your first name ..." [(ngModel)]="person.firstName">
        <label> {{content.lastName}} </label>
        <input type="text" name="lastName" placeholder="  your last name ..." [(ngModel)]="person.lastName">
        <label> Email </label>
        <input type="email" name="email" placeholder="  add your e-mail ..." [(ngModel)]="person.email">
        <label> Phone </label>
        <input type="number" name="phone" placeholder="  add your phone ..." [(ngModel)]="person.phone">
        <label> Short Bio </label>
        <input type="text" name="bio" placeholder="  add your Bio ..." [(ngModel)]="person.bio">
        <label> Social media  </label>
        <input type="text" name="ResearchGate" placeholder="  your ResearchGate's url ..." [(ngModel)]="person.researchGate">
        <input type="text" name="ORCID" placeholder="  your ORCID's url ..." [(ngModel)]="person.orcid">
        <input type="text" name="googlescholar" placeholder="  your Google scholar's url ..." [(ngModel)]="person.scholar">
        <input type="text" name="linkedin" placeholder="  your Linkedin's url ..." [(ngModel)]="person.linkedin">
        <input type="text" name="DBLP" placeholder="  your DBLP's url ..." [(ngModel)]="person.dblp">
        <label> Themes  </label>
      <input type="text" placeholder="theme" *ngFor="let t of person.themes; let i = index" [(ngModel)]="t.title" name="theme_{{i}}" (input)="searchTheme(i)">
      <div class="dropdown">
        <ul>
          <li *ngFor="let theme of filteredList" (click)="selectTheme(theme)" style="list-style: none">
            <span>{{theme.title}}</span>
          </li>
        </ul>
      </div>
      <div class="controls">
        <a routerLink="#" id="add_more_fields" (click)="addTheme()"><i class="fa fa-plus" ></i>Add More</a>
        <a routerLink="#" id="remove_fields" (click)="removeTheme()"><i class="fa fa-minus"></i>Remove Field</a>
      </div>

        <input type="submit" name="" value="{{content.update}}" class="SBM">

      </form>
  </div>
  <button  id="close-popup" (click)="toggle1()" type="button">Close</button>
  </div>
</div>


<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>{{content.title}}</th>
      <th>Type</th>
      <th>Date</th>
      <th align="center"><a routerLink="/account/save-article" target="_blank" class="add">ADD ARTICLE</a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of articles">
      <td><h4>{{a.title}}</h4></td>
      <td><p>{{a.type}}</p></td>
      <td>{{a.year}}</td>
      <td><a routerLink="/account/save-article/{{a.id}}" target="_blank" class="btn2">{{content.update}}</a></td>
      <td><a (click)="delete(a)" class="btn2">{{content.delete}}</a></td>
    </tr>
    </tbody>
  </table>
</div>
