<div class="add-responsive"><a  routerLink="/account/save-event" target="_blank" class="btn2">{{content.add}}</a></div>
<div class="table-container">
  <table id="keywords" cellspacing="0" cellpadding="0">
  <thead>
<tr>
  <th>{{content.title}}</th>
  <th>{{content.organiser}}</th>
  <th>{{content.location}}</th>
  <th>Date</th>
  <th colspan="2"><a routerLink="/account/save-event" target="_blank" class="btn2">{{content.add}} {{content.event}}</a></th>
</tr>
</thead>
<tbody>
<tr *ngFor="let e of eventList">
  <td>{{e.title}} </td>
  <td>{{e.organiser}}</td>
  <td>{{e.location}}</td>
  <td>{{e.date | date: 'dd-MM-yyyy'}}</td>
  <td><a class="btn2" routerLink="/account/save-event/{{e.id}}" target="_blank">{{content.update}}</a></td>
  <td><a class="btn2" (click)="delete(e)">{{content.delete}}</a></td>
</tr>
</tbody>
  </table>
</div>
