<div class="table-container">

  <table id="keywords" cellspacing="0" cellpadding="0">

  <thead>
<tr>
  <th>NAME</th>
  <th>ORGANISATOR</th>
  <th>LOCATION</th>
  <th>DATE</th>
  <th colspan="2"><a href="/account/add-event" class="btn2">ADD EVENT</a></th>

</tr>
</thead>

<tbody>
<tr>
  <td>RLorem ipsum dolor sit amet consectetur </td>
  <td>LOREM</td>
  <td>LOREM</td>
  <td>12/03/2023</td>
  <td><a href="#" class="btn2">Update</a></td>
  <td><a href="#" class="btn2">Delete</a></td>
</tr>

<tr>
  <td>RLorem ipsum dolor sit amet consectetur </td>
  <td>LOREM</td>
  <td>LOREM</td>
  <td>12/03/2023</td>
  <td><a href="#" class="btn2">Update</a></td>
  <td><a href="#" class="btn2">Delete</a></td>
</tr>

<tr>
  <td>RLorem ipsum dolor sit amet consectetur </td>
  <td>LOREM</td>
  <td>LOREM</td>
  <td>12/03/2023</td>
  <td><a href="#" class="btn2">Update</a></td>
  <td><a href="#" class="btn2">Delete</a></td>
</tr>

<tr>
  <td>RLorem ipsum dolor sit amet consectetur </td>
  <td>LOREM</td>
  <td>LOREM</td>
  <td>12/03/2023</td>
  <td><a href="#" class="btn2">Update</a></td>
  <td><a href="#" class="btn2">Delete</a></td>
</tr>

<tr>
  <td>RLorem ipsum dolor sit amet consectetur </td>
  <td>LOREM</td>
  <td>LOREM</td>
  <td>12/03/2023</td>
  <td><a href="#" class="btn2">Update</a></td>
  <td><a href="#" class="btn2">Delete</a></td>
</tr>

<tr>
  <td>RLorem ipsum dolor sit amet consectetur </td>
  <td>LOREM</td>
  <td>LOREM</td>
  <td>12/03/2023</td>
  <td><a href="#" class="btn2">Update</a></td>
  <td><a href="#" class="btn2">Delete</a></td>
</tr>

<tr>
  <td>RLorem ipsum dolor sit amet consectetur </td>
  <td>LOREM</td>
  <td>LOREM</td>
  <td>12/03/2023</td>
  <td><a href="#" class="btn2">Update</a></td>
  <td><a href="#" class="btn2">Delete</a></td>
</tr>

</tbody>
  </table>
</div>
