<div class="wrapp">
  <h1>Our Doctors</h1>
  <div class="our_team">
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="instagram item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>CEO</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>Accountant</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maiores temporibus, architecto optio asperiores mollitia pariatur error, quaerat voluptatibus minima eos quo nostrum, maxime necessitatibus.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>product analyst</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
    <div class="team_member">
      <div class="member_img">
        <img src="https://i.pinimg.com/236x/61/f2/09/61f209923eae607cbd5b30dd179de1d7.jpg" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="linkedin item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a routerLink="/profil"><h3>harry dickens</h3></a>
      <span>Product Manager</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
    </div>
  </div>
</div>
