<div id="body">

  <section class="container">
    <header>{{content.event}}</header>
    <form class="form" #addF="ngForm" (ngSubmit)="addEvent(addF)" ngNativeValidate>

      <div class="input-box">
        <label>{{content.title}}</label>
        <input type="text" placeholder="Tile of news ..." required [(ngModel)]="event.title" name="title"/>
      </div>
      <div class="input-box">
        <label>{{content.location}}</label>
        <input type="text" placeholder="Tile of news ..." required [(ngModel)]="event.location" name="location"/>
      </div>
      <div class="input-box">
        <label>{{content.organiser}}</label>
        <input type="text" placeholder=" Full name" required [(ngModel)]="event.organiser" name="organiser" />
      </div>

      <div class="input-box">
        <label>Date</label>
        <input type="date" id="date" required [(ngModel)]="date"  name="date"/>
      </div>

      <div class="input-box">
        <label>Image</label>
        <input type="file" accept="image/*" #fileUpload (change)="onFileSelected(fileUpload.files)" >
      </div>

      <div class="input-box">
        <label>Description</label>
        <textarea name="description" rows="10" cols="70" required [(ngModel)]="event.description" ></textarea>
      </div>
      <button>{{content.submit}}</button>
    </form>
  </section>
</div>
