<div id="body">

  <section class="container">
    <header>Add Event</header>
    <form class="form" #addF="ngForm" (ngSubmit)="addEvent(addF)">

      <div class="input-box">
        <label>Title</label>
        <input type="text" placeholder="Tile of news ..." required [(ngModel)]="event.title" name="title"/>
      </div>
      <div class="input-box">
        <label>Location</label>
        <input type="text" placeholder="Tile of news ..." required [(ngModel)]="event.location" name="location"/>
      </div>
      <div class="input-box">
        <label>Organiser</label>
        <input type="text" placeholder=" Full name" required [(ngModel)]="event.organiser" name="organiser" />
      </div>

      <div class="input-box">
        <label>Date</label>
        <input type="date" id="date" required [(ngModel)]="event.date"  name="date"/>
      </div>

      <div class="input-box">
        <label>Image</label>
        <input type="file" accept="image/*" #fileUpload (change)="onFileSelected(fileUpload.files)" >
      </div>

      <div class="input-box">
        <label>description</label>
        <textarea name="description" rows="10" cols="70" required [(ngModel)]="event.description" ></textarea>
      </div>
      <button>Submit</button>
    </form>
  </section>
</div>
