
.bigrow{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  display:grid;
  z-index: 9;

}
.row{
  place-items:center;
  width:90%;
  max-width:970px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:50px 30px;
}
.row .left img{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.row .left {
}
.row .right {
  display:flex;
  alighn-items:center;
}
.row .right .content2 {
  padding-left: 0;

}

@media (max-width :991px){
  .row .right .content2 {
    padding-left :30px;
  }
}

@media (max-width :768px){
  .row{
    padding-top: 30px;
    padding-left: 30px ;
    width:90%;
    grid-template-columns:1fr;
    grid-gap:50px 30px;

  }
}




#pub{
  display: flex!important;
  justify-content: center!important;
  margin: auto;
  width: 80%;
  flex-direction: column;

}


input {
  width: 200px;
  height: 50px;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 20px;

}
label {
  font-family: Arial;
  font-size: 18px;
  color: #0D89BF;

}

.news a{
  color: #0D89BF;
  padding-bottom:80px ;

}
.news .date {
  font-size: 13px;
  color: #888;
}

.news .desc {
  font-size: 15px;
  color: #000;
}


@media only screen and (max-width:768px),
(min-device-width:768px) and (max-device-width:992px){
  .tab{
    width:95%;
    background: transparent;
    height: 800px;
  }


  .tabs,
  td,
  tr{
    display: block;
  }
  th{
    display: none;
  }

  td:nth-of-type(1)::before{
    content: "Resaerch by title      ";
  }

  td:nth-of-type(2)::before{
    content: "news older than        ";
  }

  td:nth-of-type(3)::before{
    content: "news more recent than";
  }

}









#popup{
  position: fixed;
  width:1000px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 13;
}
#popup::-webkit-scrollbar{display: none;}

#popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
  width: 80%;
  max-height: 80%;
  padding: 0;
  overflow-y: scroll;
}

.tab{
  display: flex;
  justify-content: center;
  margin:20vh auto;
  padding: 5px;
  position: relative;
  font-family: arial;
  font-size:15px ;

}
.table{
  width: 800px;
  max-width: 800px;
  border: 10px;
}
@media only screen and (max-width:768px),
(min-device-width:768px) and (max-device-width:992px){
  .wrapper{
    width:100%;
    background: transparent;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr{
    display: block;
  }
}

.l-inner {
  max-width: 1104px;
  padding-right: 40px;
  padding-left: 40px;
  margin-inline: auto;
}

.article {
  max-width: 900px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #DAE3F2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article th {
  display: block;
  background-color: #DAE3F2;
  padding: 17px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #FFF;
}
@media screen and (min-width: 768px) {
  .article th, .article td {
    display: table-cell
  }
  .article th {
    width: 230px;
  }
}

.article td {
  display: block;
  background-color: #FFF;
  padding: 17px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #DAE3F2;
}


.article tr:last-of-type th {
  border-bottom: none;
}

.article tr:last-of-type td {
  border-bottom: none;
}

h1{color: #123C60; margin: 10px;}

