<div class="wrapp">
  <h1>All</h1>
  <div class="our_team">
    <div class="team_member" *ngFor="let p of personList; let i=index" (click)="profile(p)">
      <div class="member_img">
        <img [src]="url[i]" alt="our_team">
        <div class="social_media">
          <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
          <div class="github item"><i class="fab fa-github"></i></div>
          <div class="instagram item"><i class="fab fa-linkedin"></i></div>
        </div>
      </div>
      <a><h3>{{p.firstName}} {{p.lastName}}</h3></a>
      <span>{{p.profession}}</span>
    </div>

  </div>
</div>
