<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="top">
  <a (click)="changeLang('french')"><img src="assets/photo/france.png" class="img1"></a>
  <a (click)="changeLang('english')"><img src="assets/photo/uk.png" class="img2"></a>
  <a routerLink="/login" class="login">{{content.login}}</a>
  <a routerLink="/signup" class="register">{{content.register}}</a>
</div>
<div class="wrapper">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a routerLink="/home"><img src="assets/photo/logo.png"></a></div>
      <ul class="links">
        <li><a routerLink="/home">{{content.home}}</a><hr color="#FF9FB2"></li>
        <li><a routerLink="/list-news">{{content.news}}</a><hr color="##73877B"></li>
        <li><a routerLink="/list-event">{{content.events}}</a><hr color="#0ACDFF"></li>
        <li>
          <a class="nav-link">{{content.research}}</a>
          <input type="checkbox" id="show-Research">
          <label for="show-Research">{{content.research}}</label>
          <hr color="#60AB9A">
          <ul>
            <li><a routerLink="#">{{content.researchAxis}}</a></li>
            <li><a routerLink="/teams">Teams</a></li>
            <li><a routerLink="/list-article">Publications</a></li>

          </ul>
        </li>
        <li>
          <a class="nav-link">Collaboration</a>
          <input type="checkbox" id="show-Collaboration">
          <label for="show-Collaboration">COLLABORATION</label>
          <hr color="#9A275A">
          <ul>
            <li><a routerLink="international.html">International</a></li>
            <li><a routerLink="national.html">National</a></li>
            <li><a routerLink="/partners">{{content.partners}}</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link">{{content.members}}</a>
          <input type="checkbox" id="show-Members">
          <label for="show-Members">{{content.members}}</label>
          <hr color="#D68C45">
          <ul>
            <li><a routerLink="/teacher-researcher">{{content.teacherResearcher}}</a></li>
            <li><a routerLink="/doctors">{{content.doctors}}</a></li>
            <li><a routerLink="/phd-students">{{content.phd}}</a></li>
            <li><a routerLink="/members">{{content.all}}</a></li>
          </ul>

        </li>
        <li><a routerLink="/contact">{{content.contact}}</a><hr color="#63474D"></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
    <form action="#" class="search-box">
      <input type="text" placeholder="Type Something to Search..." required>
      <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
    </form>
  </nav>
</div>


<div class="container">
  <h4 id="H4">{{content.laboratory}}</h4>
  <h1 id="H1"><span>S</span>trategies for <span>M</span>odeling and <span>AR</span>tificial in<span>T</span>elligence</h1>
  <p id="P">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="boxes">
    <div class="right-box"></div>
    <div class="left-box"></div>
  </div>
</div>


<div class="Wrap">
  <div class="continer">
    <div class="box">
      <div class="b1">
        <h3 > {{eventList[0].title}} </h3>
        <p> {{eventList[0].description}}</p>
        <a routerLink="/list-event" class="btn"> {{content.seeMore}} > </a>
      </div>
    </div>
    <div class="box" id="blue">
      <div class="b2">
        <h3>{{eventList[1].title}}</h3>
        <p> {{eventList[1].description}}</p>
        <a routerLink="/list-event" class="btn"> {{content.seeMore}} > </a>
      </div>
    </div>
  </div>
</div>





<div class="bigrow">
  <div class="row">
    <div class="left">
      <img src="https://i.pinimg.com/236x/0d/f2/5c/0df25ce48a71500dae7f49769960ba7c.jpg" alt="">
    </div>
    <div class="right">
      <div class="content2">
        <h2 align="center">Levi </h2> <br>
        <p id="first"> <i>iLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? Labore fugiat maxime tempora possimus quibusdam quae velit rerum in doloribus ut inventore hic alias necessitatibus beatae fuga, aliquam culpa deleniti laboriosam reprehenderit enim dolor quod ipsa? Accusantium, libero culpa.</i></p>
        <p id="second">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus perferendis iste inventore laborum dolor alias, voluptate dignissimos nihil, aliquam totam accusantium eum illo dolorem hic explicabo sequi quis recusandae.</p> <br>
        <a routerLink="/profile" class="btn1"> {{content.seeMore}} > </a>

      </div>
    </div>
  </div>
</div>


<div id="counts">
  <div>
    <img src="assets/photo/posts.png">
    <h1>{{ articleList.length + 1}}</h1>
    <h4><i>{{content.posts}}</i></h4>
  </div>
  <div>
    <img src="assets/photo/researchers.png">
    <h1>{{personList.length}}</h1>
    <h4><i>{{content.researchers}}</i></h4>
  </div>
  <div>
    <img src="assets/photo/projects.png">
    <h1>{{eventList.length}}</h1>
    <h4><i>{{content.projects}}</i></h4>
  </div>
  <div>
    <img src="assets/photo/partners.png">
    <h1>{{partnersList.length}}</h1>
    <h4><i>{{content.partners}}</i></h4>
  </div>
</div>
<div>
  <div class="group"> <h1 style="text-align: center; color: #123C60; "><b>SMART LAB NEWS</b></h1></div>
  <div id="news">
    <article *ngFor="let n of newsList; let i = index">
      <a (click)="viewNews(n.id)">
        <img [src]="url[i]">
        <div>
          <h2>{{n.title}}</h2>
          <p>{{n.date | date: 'dd-MM-yyyy'}}</p>
        </div>
      </a>
    </article>
  </div>
  <div class="btn-more">
    <a routerLink="/list-news" class="more">{{content.seeMore}}</a>
  </div>
</div>

<div class="slider">
  <ul>
    <li><img src="assets/photo/commission_european.png" alt=""></li>
    <li><img src="assets/photo/isg.png" alt=""></li>
    <li><img src="assets/photo/mesrs.png" alt=""></li>
    <li><img src="assets/photo/UT.png" alt=""></li>
    <li><img src="assets/photo/commission_european.png" alt=""></li>
    <li><img src="assets/photo/isg.png" alt=""></li>
    <li><img src="assets/photo/mesrs.png" alt=""></li>
    <li><img src="assets/photo/UT.png" alt=""></li>
    <li><img src="assets/photo/commission_european.png" alt=""></li>
    <li><img src="assets/photo/isg.png" alt=""></li>
    <li><img src="assets/photo/mesrs.png" alt=""></li>
    <li><img src="assets/photo/UT.png" alt=""></li>
  </ul>
</div>
