<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

<div class="bigrow">
  <div class="row">
    <div class="left">
      <img [src]="person.photo">
    </div>
    <div class="right">
      <div class="content2">
        <h2>{{person.firstName}} {{person.lastName}}</h2> <br>
        <p style="margin:0;">short bio</p>
        <a href="#">CV Link</a>
        <p> <i><b>email:</b> {{person.email}}<br><b>profession:</b> {{person.profession}}<br><b>team:</b> {{person.team}}<br></i></p>
        <div class="social-media">
          <a href=""><i class='fab fa-researchgate' ></i></a>
          <a href=""><i class='fab fa-orcid'></i></a>
          <a href=""><i class="fa-brands fa-google"></i></a>
          <a href=""><i class="fa fa-linkedin-square"></i></a>
          <a href=""><i icon="simple-icons:dblp"></i></a>

        </div>
        <div class="theme">
          <p>Data Mining</p> <p> Machine Learning</p> <p> Big Data</p>
        </div>
      </div>



      <div>

      </div>
    </div>
  </div>
</div>
<app-list-article [id]="person.id"></app-list-article>
