.bigrow{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  display:grid;
  z-index: 9;

}
.row{
  place-items:center;
  width:90%;
  max-width:970px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:50px 30px;
}
.row .left img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.row .left {
}
.row .right {
  display:flex;
  alighn-items:center;
}
.row .right .content2 {
  padding-left: 0;

}

@media (max-width :991px){
  .row .right .content2 {
    padding-left :30px;
  }
}

@media (max-width :768px){
  .row{
    padding-top: 30px;
    padding-left: 30px ;
    width:90%;
    grid-template-columns:1fr;
    grid-gap:50px 30px;

  }
}




#pub{
  margin: auto;
  width: 80%;

}


input {
  width: 200px;
  height: 50px;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 20px;

}
label {
  font-family: Arial;
  font-size: 18px;
  color: #0D89BF;

}
.social-media{
  display: flex;
  width:300px;
  height:30px;
  display: flex;
}
.social-media a {
  text-decoration: none;

}
.social-media i {
  margin-left: 0;
  margin-right: 20px;
  font-size:30px;
  color:rgb(30, 48, 80);

}

.theme {
  display: flex;
  width: 400px;
}
.theme p {
  margin-left: 0;
  margin-right: 10px;

}
