<div class="table-container">
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th>{{content.name}}</th>
      <th>EMAIL</th>
      <th colspan="2">DECISION</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let r of requests">
      <td>{{r.firstName}} {{r.lastName}}</td>
      <td>{{r.email}}</td>
      <td><button class="btn2" (click)="accept(r)">ACCEPT</button></td>
      <td><button class="btn2" (click)="delete(r)">{{content.delete}}</button></td>
    </tr>
    </tbody>
  </table>
</div>
