<div class="table-container">
  <table id="keywords" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>MEMBER</th>
    <th>UPDATE</th>
    <th>DELETE</th>
    <th>TEAMS</th>
    <th>AUTORISATION1</th>
    <th>AUTORISATION2</th>



  </tr>
  </thead>

  <tbody>
  <tr>
    <td><a routerLink="#" (click)="toggle()">Harry Dickens</a> </td>
    <td><button class="btn2">UPPDATE</button></td>
    <td><button class="btn2">DELETE</button></td>
    <td><select name="teams" class="teams">
      <option value="Team1">Team1</option>
      <option value="Team2">Team2</option>
      <option value="Team3">Team3</option>
      <option value="Team4">Team4</option></select></td>
    <td><input type="checkbox" name="autorisation1" class="check"></td>
    <td><input type="checkbox" name="autorisation2" class="check"></td>
  </tr>

  <tr>
    <td><a routerLink="#" (click)="toggle()">Harry Dickens</a> </td>
    <td><button class="btn2">UPPDATE</button></td>
    <td><button class="btn2">DELETE</button></td>
    <td><select name="teams" class="teams">
      <option value="Team1">Team1</option>
      <option value="Team2">Team2</option>
      <option value="Team3">Team3</option>
      <option value="Team4">Team4</option></select></td>
    <td><input type="checkbox" name="autorisation1" class="check"></td>
    <td><input type="checkbox" name="autorisation2" class="check"></td>
  </tr>

  <tr>
    <td><a routerLink="#" (click)="toggle()">Harry Dickens</a> </td>
    <td><button class="btn2">UPPDATE</button></td>
    <td><button class="btn2">DELETE</button></td>
    <td><select name="teams" class="teams">
      <option value="Team1">Team1</option>
      <option value="Team2">Team2</option>
      <option value="Team3">Team3</option>
      <option value="Team4">Team4</option></select></td>
    <td><input type="checkbox" name="autorisation1" class="check"></td>
    <td><input type="checkbox" name="autorisation2" class="check"></td>
  </tr>

  <tr>
    <td><a routerLink="#" (click)="toggle()">Harry Dickens</a> </td>
    <td><button class="btn2">UPPDATE</button></td>
    <td><button class="btn2">DELETE</button></td>
    <td><select name="teams" class="teams">
      <option value="Team1">Team1</option>
      <option value="Team2">Team2</option>
      <option value="Team3">Team3</option>
      <option value="Team4">Team4</option></select></td>
    <td><input type="checkbox" name="autorisation1" class="check"></td>
    <td><input type="checkbox" name="autorisation2" class="check"></td>
  </tr>
  <tr>
    <td><a routerLink="#" (click)="toggle()">Harry Dickens</a> </td>
    <td><button class="btn2">UPPDATE</button></td>
    <td><button class="btn2">DELETE</button></td>
    <td><select name="teams" class="teams">
      <option value="Team1">Team1</option>
      <option value="Team2">Team2</option>
      <option value="Team3">Team3</option>
      <option value="Team4">Team4</option></select></td>
    <td><input type="checkbox" name="autorisation1" class="check"></td>
    <td><input type="checkbox" name="autorisation2" class="check"></td>
  </tr>
  <tr>
    <td><a routerLink="#" (click)="toggle()">Harry Dickens</a> </td>
    <td><button class="btn2">UPPDATE</button></td>
    <td><button class="btn2">DELETE</button></td>
    <td><select name="teams" class="teams">
      <option value="Team1">Team1</option>
      <option value="Team2">Team2</option>
      <option value="Team3">Team3</option>
      <option value="Team4">Team4</option></select></td>
    <td><input type="checkbox" name="autorisation1" class="check"></td>
    <td><input type="checkbox" name="autorisation2" class="check"></td>
  </tr>
  <tr>
    <td><a routerLink="#" (click)="toggle()">Harry Dickens</a> </td>
    <td><button class="btn2">UPPDATE</button></td>
    <td><button class="btn2">DELETE</button></td>
    <td><select name="teams" class="teams">
      <option value="Team1">Team1</option>
      <option value="Team2">Team2</option>
      <option value="Team3">Team3</option>
      <option value="Team4">Team4</option></select></td>
    <td><input type="checkbox" name="autorisation1" class="check"></td>
    <td><input type="checkbox" name="autorisation2" class="check"></td>
  </tr>



  </tbody>
</table>
</div>
<div id="popup">

  <h1 id="close" align="right" (click)="toggle()">&#10006;</h1>

  <p> name : harry dickens</p>
  <p>email : harrydickens@gmail.com</p>
  <p>birthdate : 12/08/1993  </p>
  <p>proffession : PH.D.Students</p>
  <p>teams : RH</p>

</div>
