<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


<div class="main" id="blur">
  <div class="navbar">
    <div class="btn " (click)="btn()">
      <span class="fas fa-bars"></span>
    </div>
  </div>
  <nav class="sidebar">
    <div class="text">
      {{content.account}}
    </div>

    <ul>
      <li (click)="li()"><a routerLink="/account/profile">{{content.profile}}</a><hr color="#fff"></li>
      <li (click)="li()"><a routerLink="/account/update">{{content.update}}</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(1)"><a routerLink="/account/edit-news">{{content.news}}</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(2)"><a routerLink="/account/edit-event">{{content.events}}</a><hr color="#fff">  </li>
      <li (click)="li()" *ngIf="autoList.includes(3)"><a routerLink="/account/members">{{content.members}}</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(4)"><a routerLink="/account/feedback">Feedback</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(5)"><a routerLink="/account/requests">{{content.requests}}</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(6)"><a routerLink="/account/edit-partners">{{content.partners}}</a><hr color="#fff"></li>
      <li (click)="li()"><a (click)="logout()">{{content.logout}}</a><hr color="#fff"></li>
    </ul>

    <!--<ul>
      <li (click)="li()"><a routerLink="/account/profile">PROFILE</a><hr color="#fff"></li>
      <li (click)="li()"><a routerLink="/account/update">UPDATE</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(1)"><a (click)="news()">EDIT NEWS</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(2)"><a (click)="events()">EDIT EVENT</a><hr color="#fff">  </li>
      <li (click)="li()" *ngIf="autoList.includes(3)"><a (click)="members()">MEMBERS</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(4)"><a (click)="feedback()">FEEDBACK</a><hr color="#fff"></li>
      <li (click)="li()" *ngIf="autoList.includes(5)"><a (click)="requests()">REQUESTS</a><hr color="#fff"></li>
      <li (click)="li()"><a (click)="logout()">LOG OUT</a><hr color="#fff"></li>
    </ul>-->
  </nav>

  <router-outlet></router-outlet>

</div>


