<div id="body">
  <div class="bigrow">
  <div class="row">

  </div>
</div>

<section class="container">
  <header>Add News</header>
  <form action="#" class="form">

    <div class="input-box">
      <label>Auteur</label>
      <input type="text" placeholder=" Full name" required />
    </div>

    <div class="input-box">
      <label>Date</label>
      <input type="date"  required />
    </div>
    <div class="input-box">
      <label>Title</label>
      <input type="text" placeholder="Tile of news ..." required />
    </div>
    <div class="input-box">
      <label>Image</label>
      <input type="file" required />
    </div>

    <div class="input-box">
      <label>description</label>
      <textarea name="description" rows="10" cols="70"></textarea>
    </div>
    <button>Submit</button>
  </form>
</section>
</div>
