<div class="add-responsive"><a  routerLink="/account/save-partner" target="_blank" class="btn2">{{content.add}}</a></div>
<div class="table-container">
    <table id="keywords" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th>{{content.partners}}</th>
        <th>Type</th>
        <th colspan="2"><a  routerLink="/account/save-partner" target="_blank" class="btn2">{{content.add}} {{content.partner}}</a></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of partnerList; let i = index;">
        <td><a routerLink="{{p.urlPage}}">{{p.name}}</a></td>
        <td>{{p.type}}</td>
        <td><a class="btn2" (click)="delete(p)">{{content.delete}}</a></td>
        <td><a class="btn2" routerLink="/account/save-partner/{{p.id}}" target="_blank">{{content.update}}</a></td>
      </tr>
      </tbody>
    </table>
</div>

