#container
{
  background-color: white;
  display: flex;
}


#cover
{
  background-color: #123C60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;

}

#cover span, #login h1 {color : #0D89BF ;}


#login
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;

}


form input, form label {display: block;}

form input
{
  width: 80%;
  height: 30px;
  border : 0.5px solid #EEEEEE;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 5px;
  margin: 10px;
}


.middle{
  position: absolute;
  top: 70%;
transform: translateX(30%);
  width: 40%;
  text-align: center;
  display: flex;
}
.btn{
  display: inline-block;
  width: 50px;
  height: 30px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 30px;
  font-size: 12px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
     left: 10%;
     top: -30%;
   }100%{
      top: -10%;
      left: -10%;
    }
}



/*DESKTOP*/
@media screen and (min-width: 992px)
{
  section
  {
    background-color: #ededed;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container
  {
    height: 75%;
    width: 60%;
    border-radius: 10px;
  }

  #cover
  {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  #login{width: 70%;}
}



/*MOBILE*/
@media screen and (min-width: 280px) and (max-width: 767px)
{
  #container{flex-direction: column;}


  #cover
  {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 50px;
  }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px)
{

}
