<div class="wrapp">
  <h1>Ph.D.Students</h1>
  <div class="our_team">
    <ng-container *ngFor="let p of personList; let i=index">
      <div class="team_member" *ngIf="p.profession === 'Ph.D Student'" routerLink="/profile/{{p.id}}">
        <div class="member_img">
          <img [src]="p.photo" alt="our_team">
          <div class="social_media">
            <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
            <div class="github item"><i class="fab fa-github"></i></div>
            <div class="instagram item"><i class="fab fa-linkedin"></i></div>
          </div>
        </div>
        <a><h3>{{p.firstName}} {{p.lastName}}</h3></a>
        <span>{{p.profession}}</span>
      </div>
    </ng-container>
  </div>
</div>
