<div class="container1">
  <div class="item-container">
    <div class="img-container">
      <img src="https://i.pinimg.com/236x/ae/ed/52/aeed529d1fb9cb86b80d06596492a86c.jpg" alt="Event image">
    </div>

    <div class="body-container">
      <div class="overlay"></div>

      <div class="event-info">
        <a routerLink="/event"><p class="title">Cybersecurity event</p></a>
        <div class="separator"></div>
        <p class="info">ISG ,Tunis</p>
        <p class="price">  </p>

        <div class="additional-info">
          <p class="info">
            <i class="fas fa-map-marker-alt"></i>
            SMART LAB
          </p>
          <p class="info">
            <i class="far fa-calendar-alt"></i>
            Sat, Sep 19, 10:00 AM EDT
          </p>

          <p class="info description">
            Welcome! for anyone who's interested in cybersecurity, and we would love you
            to share his experience with us! We meet one Sunday evening <span>more...</span>
          </p>
        </div>
      </div>
      <button class="action">join in</button>
    </div>
  </div>

  <div class="item-container">
    <div class="img-container">
      <img src="https://i.pinimg.com/236x/ae/ed/52/aeed529d1fb9cb86b80d06596492a86c.jpg" alt="Event image">
    </div>

    <div class="body-container">
      <div class="overlay"></div>

      <div class="event-info">
        <a routerLink="/event"><p class="title">Cybersecurity event</p></a>
        <div class="separator"></div>
        <p class="info">ISG ,Tunis</p>
        <p class="price">  </p>

        <div class="additional-info">
          <p class="info">
            <i class="fas fa-map-marker-alt"></i>
            SMART LAB
          </p>
          <p class="info">
            <i class="far fa-calendar-alt"></i>
            Sat, Sep 19, 10:00 AM EDT
          </p>

          <p class="info description">
            Welcome! for anyone who's interested in cybersecurity, and we would love you
            to share his experience with us! We meet one Sunday evening <span>more...</span>
          </p>
        </div>
      </div>
      <button class="action">join in</button>
    </div>
  </div><div class="item-container">
  <div class="img-container">
    <img src="https://i.pinimg.com/236x/ae/ed/52/aeed529d1fb9cb86b80d06596492a86c.jpg" alt="Event image">
  </div>

  <div class="body-container">
    <div class="overlay"></div>

    <div class="event-info">
      <a routerLink="/event"><p class="title">Cybersecurity event</p></a>
      <div class="separator"></div>
      <p class="info">ISG ,Tunis</p>
      <p class="price">  </p>

      <div class="additional-info">
        <p class="info">
          <i class="fas fa-map-marker-alt"></i>
          SMART LAB
        </p>
        <p class="info">
          <i class="far fa-calendar-alt"></i>
          Sat, Sep 19, 10:00 AM EDT
        </p>

        <p class="info description">
          Welcome! for anyone who's interested in cybersecurity, and we would love you
          to share his experience with us! We meet one Sunday evening <span>more...</span>
        </p>
      </div>
    </div>
    <button class="action">join in</button>
  </div>
</div><div class="item-container">
  <div class="img-container">
    <img src="https://i.pinimg.com/236x/ae/ed/52/aeed529d1fb9cb86b80d06596492a86c.jpg" alt="Event image">
  </div>

  <div class="body-container">
    <div class="overlay"></div>

    <div class="event-info">
      <a routerLink="/event"><p class="title">Cybersecurity event</p></a>
      <div class="separator"></div>
      <p class="info">ISG ,Tunis</p>
      <p class="price">  </p>

      <div class="additional-info">
        <p class="info">
          <i class="fas fa-map-marker-alt"></i>
          SMART LAB
        </p>
        <p class="info">
          <i class="far fa-calendar-alt"></i>
          Sat, Sep 19, 10:00 AM EDT
        </p>

        <p class="info description">
          Welcome! for anyone who's interested in cybersecurity, and we would love you
          to share his experience with us! We meet one Sunday evening <span>more...</span>
        </p>
      </div>
    </div>
    <button class="action">join in</button>
  </div>
</div><div class="item-container">
  <div class="img-container">
    <img src="https://i.pinimg.com/236x/ae/ed/52/aeed529d1fb9cb86b80d06596492a86c.jpg" alt="Event image">
  </div>

  <div class="body-container">
    <div class="overlay"></div>

    <div class="event-info">
      <a routerLink="/event"><p class="title">Cybersecurity event</p></a>
      <div class="separator"></div>
      <p class="info">ISG ,Tunis</p>
      <p class="price">  </p>

      <div class="additional-info">
        <p class="info">
          <i class="fas fa-map-marker-alt"></i>
          SMART LAB
        </p>
        <p class="info">
          <i class="far fa-calendar-alt"></i>
          Sat, Sep 19, 10:00 AM EDT
        </p>

        <p class="info description">
          Welcome! for anyone who's interested in cybersecurity, and we would love you
          to share his experience with us! We meet one Sunday evening <span>more...</span>
        </p>
      </div>
    </div>
    <button class="action">join in</button>
  </div>
</div><div class="item-container">
  <div class="img-container">
    <img src="https://i.pinimg.com/236x/ae/ed/52/aeed529d1fb9cb86b80d06596492a86c.jpg" alt="Event image">
  </div>

  <div class="body-container">
    <div class="overlay"></div>

    <div class="event-info">
      <a routerLink="/event"><p class="title">Cybersecurity event</p></a>
      <div class="separator"></div>
      <p class="info">ISG ,Tunis</p>
      <p class="price">  </p>

      <div class="additional-info">
        <p class="info">
          <i class="fas fa-map-marker-alt"></i>
          SMART LAB
        </p>
        <p class="info">
          <i class="far fa-calendar-alt"></i>
          Sat, Sep 19, 10:00 AM EDT
        </p>

        <p class="info description">
          Welcome! for anyone who's interested in cybersecurity, and we would love you
          to share his experience with us! We meet one Sunday evening <span>more...</span>
        </p>
      </div>
    </div>
    <button class="action">join in</button>
  </div>
</div>
</div>
