<div class="table-container">




  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>DATE</th>
      <th colspan="2"><a (click)="add()" class="btn2">ADD NEWS</a></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let n of allNews">
      <td>{{n.title}}</td>
      <td>{{n.description}}</td>
      <td>{{n.date | date: 'dd-MM-yyyy'}}</td>
      <td><a (click)="update(n)" class="btn2">Update</a></td>
      <td><a (click)="delete(n.id)" class="btn2">Delete</a></td>
    </tr>

    <!--<tr>
      <td>LOREM</td>
      <td>RLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? lorem ipsum dolor sit amet</td>
      <td>12/03/2023</td>
      <td><a routerLink="#" class="btn2">Update</a></td>
      <td><a routerLink="#" class="btn2">Delete</a></td>

    </tr>

    <tr>
      <td>LOREM</td>
      <td>RLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? lorem ipsum dolor sit amet</td>
      <td>12/03/2023</td>
      <td><a routerLink="#" class="btn2">Update</a></td>
      <td><a routerLink="#" class="btn2">Delete</a></td>
    </tr>

    <tr>
      <td>LOREM</td>
      <td>RLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? lorem ipsum dolor sit amet</td>
      <td>12/03/2023</td>
      <td><a routerLink="#" class="btn2">Update</a></td>
      <td><a routerLink="#" class="btn2">Delete</a></td>

    </tr>

    <tr>
      <td>LOREM</td>
      <td>RLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? lorem ipsum dolor sit amet</td>
      <td>12/03/2023</td>
      <td><a routerLink="#" class="btn2">Update</a></td>
      <td><a routerLink="#" class="btn2">Delete</a></td>
    </tr>

    <tr>
      <td>LOREM</td>
      <td>RLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? lorem ipsum dolor sit amet</td>
      <td>12/03/2023</td>
      <td><a routerLink="#" class="btn2">Update</a></td>
      <td><a routerLink="#" class="btn2">Delete</a></td>
    </tr>

    <tr>
      <td>LOREM</td>
      <td>RLorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet, illo obcaecati incidunt enim similique aut temporibus sed eos doloribus? lorem ipsum dolor sit amet</td>
      <td>12/03/2023</td>
      <td><a routerLink="#" class="btn2">Update</a></td>
      <td><a routerLink="#" class="btn2">Delete</a></td>
    </tr>-->



    </tbody>
  </table>
</div>
