<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="wrapp">
  <h1>RH Team</h1>
  <div class="our_team">
    <div class="team_member" *ngFor="let p of HR" routerLink="/profile/{{p.id}}" target="_blank">
        <div class="member_img">
          <img [src]="url[p.id!]" alt="our_team">
        </div>
        <a><h3>{{p.firstName}} {{p.lastName}}</h3></a>
        <span>{{p.profession}}</span>
    </div>
  </div>
</div>
<div class="wrapp">
  <h1>RH Team</h1>
  <div class="our_team">
    <div class="team_member" *ngFor="let p of Development" routerLink="/profile/{{p.id}}" target="_blank">
      <div class="member_img">
        <img [src]="url[p.id!]" alt="our_team">
      </div>
      <a><h3>{{p.firstName}} {{p.lastName}}</h3></a>
      <span>{{p.profession}}</span>
    </div>
  </div>
</div>

