<section class="container" >
  <header>Add News</header>
  <form class="form" #newsF="ngForm" (ngSubmit)="save(newsF)">

    <!--<div class="input-box">
      <label>Auteur</label>
      <input type="text" placeholder=" Full name"  />
    </div>

    <div class="input-box">
      <label>Date</label>
      <input type="date"  required  />
    </div>-->
    <div class="input-box">
      <label>Title</label>
      <input type="text" placeholder="Tile of news ..." required name="title" [(ngModel)]="news.title"/>
    </div>
    <div class="input-box">
      <label>Image</label>
      <input type="file" accept="image/*" #fileUpload (change)="onFileSelected(fileUpload.files)" >
    </div>

    <div class="input-box">
      <label>description</label>
      <textarea rows="10" cols="70" required name="description" [(ngModel)]="news.description"></textarea>
    </div>
    <button>Submit</button>
  </form>
</section>
<img >
