 <title>Register</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

 <section>
  <div class="wrapper">
    <div class="container">
      <h1>{{content.register}}</h1>
      <form #addF='ngForm' (ngSubmit)="addPerson(addF)" ngNativeValidate>
        <label> {{content.firstName}} </label>
        <input type="text" name="firstName" placeholder="  your first name ..." required ngModel>
        <label> {{content.lastName}} </label>
        <input type="text" name="lastName" placeholder="  your last name ..." required ngModel>
        <label> Email </label>
        <input type="email" name="email" placeholder="  your e-mail ..." required ngModel>
        <label> {{content.password}} </label>
        <input type="password" name="password" placeholder="  your password ..." required ngModel>
        <label> {{content.confirmP}} </label>
        <input type="password" name="password1" placeholder="  Confirm your password ..." required ngModel>
        <input type="submit" name="" value="{{content.create}}" class="SBM">
      </form>
    </div>
    <div class="container2">
      <h1 id="H1"><span>S</span>trategies for <span>M</span>odeling and <span>AR</span>tificial in<span>T</span>elligence</h1>
    </div>
  </div>
</section>

