<title>Register</title>
<section>
  <div class="wrapper">
    <div class="container">
      <h1>General Information</h1>
      <form #addF='ngForm' (ngSubmit)="addPerson(addF)" ngNativeValidate>
        <div class="part-A">
          <label class="ps"> champ obligatoire * </label>
          <label> First Name <span>*</span> </label>
          <input type="text" name="firstName" placeholder="  your first name ..." ngModel required>
          <label> Last Name <span>*</span> </label>
          <input type="text" name="lastName" placeholder="  your last name ..." ngModel required>
          <label> email <span>*</span> </label>
          <input type="email" name="email" placeholder="  your e-mail ..." ngModel required>
          <label> Password <span>*</span> </label>
          <input type="password" name="password" placeholder="  your password ..." ngModel required>
          <label> Confirm your password <span>*</span> </label>
          <input type="password" placeholder="  Confirm your password ..." name="password1" ngModel required>
          <button class="SBM next-button" type="button">next</button>
        </div>
        <div class="part-B" style="display: none;">
          <label> Phone <span color="red">*</span> </label>
          <input type="text" name="phone" placeholder="  your phone ..." ngModel>
          <label> Short Bio <span color="red">*</span> </label>
          <input type="text" name="bio" style="height:100px;" placeholder="  your bio ..." ngModel>
          <div style="width:160px; height:70px; overflow: hidden;">
            <label>Curriculum vitae <span color="red">*</span> </label>
            <input type="file" name="CV" >
          </div>
          <div style="display: block;">
            <button class="SBM previous-button" type="button">previous</button>
            <button class="SBM next-button next" type="button">next</button>
          </div>
        </div>
        <div class="part-C" style="display: none;">
          <div style="display:flex; width:260px; height:35px;">
            <i class='fab fa-researchgate' style='font-size:20px;color:rgb(30, 48, 80);'></i> &nbsp;&nbsp;&nbsp;
            <input type="text" name="researchGate" placeholder="  your ResearchGate's url ..." ngModel>
          </div>
          <div style="display:flex; width:260px; height:35px;">
            <i class='fab fa-orcid' style='font-size:20px;color:rgb(30, 48, 80);'></i> &nbsp;&nbsp;&nbsp;
            <input type="text" name="orcid" placeholder="  your ORCID's url ..." ngModel>
          </div>
          <div style="display:flex; width:260px; height:35px;">
            <i class="fa-brands fa-google" style='font-size:20px;color:rgb(30, 48, 80);'></i> &nbsp;&nbsp;&nbsp;
            <input type="text" name="scholar" placeholder="  your Google scholar's url ..." ngModel>
          </div>
          <div style="display:flex; width:260px; height:35px;">
            <i class="fa fa-linkedin-square" style='font-size:20px;color:rgb(30, 48, 80);'></i> &nbsp;&nbsp;&nbsp;
            <input type="text" name="linkedin" placeholder="  your Linkedin's url ..." ngModel>
          </div>
          <div style="display:flex; width:260px; height:35px;">
            <input type="text" name="dblp" placeholder="  your DBLP's url ..." ngModel>
          </div>
          <button class="SBM previous-button" type="button">previous</button>
          <button class="SBM next-button next" type="button">next</button>
        </div>
        <div class="part-D" style="display: none;">
          <div class="cont">
            <label class="option_item" *ngFor="let t of themeList; let i = index">
              <input type="checkbox" class="checkbox" name="Artificial Intelligence" [(ngModel)]="themes![i]">
              <div class="option_inner chek">
                <div class="tickmark"></div>
                <div class="name">{{t.title}}</div>
              </div>
            </label>

          </div>
          <button class="SBM previous-button" type="button">previous</button>
          <input type="submit" name="" value="submit" class="SBM next">
        </div>
        <!--<div class="part-E">
          <p>We have sent you an email, please enter the code</p>
          <input type="text" >
          <button class="SBM previous-button" type="button">previous</button>
          <button (click)="confirm()">enter</button>
        </div>-->
      </form>
    </div>
    <div class="container2" align="center">
      <h1 id="H1"><span>S</span>trategies for <span>M</span>odeling and <span>AR</span>tificial in<span>T</span>elligence</h1>
    </div>
  </div>
</section>
